nav {
    max-width: 18vw;
  }

  main {
    order: 2;
    margin: auto;
    max-width: 78vw;
    padding-left: 2.5%;
  }

  h2 {
      text-decoration: underline;
  }

  .news-photo {
      display: flex;
      justify-content: center;
      padding-left: 15vw;
      height: 50vh;
      width: 50vw;
  }

  @media screen and (max-width: 750px) {
    nav {
        width: 15vw;
    }

    nav ul {
        font-size: small;
    }

    main {
        width: 60vw;
    }
}
