
nav {
    height: 32vh;
}

main {
    margin: auto;
    max-width: 60vw;
    order: 2;
    padding-left: 2%;
}

img {
    width: 25vw;
    height: 27vh;
}

table {
    color: white;
    border-collapse: collapse;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

.roster-table {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    nav {
        width: 10vw;
    }

    nav ul {
        font-size: small;
    }

    main {
        width: 50vw;
    }
}
