nav {
    max-width: 15vw;
}

main {
    order: 2;
    margin: auto;
    max-width: 82vw;
  }

  table {
      color: white;
      border-collapse: collapse;
      display: flex;
      justify-content: center;
  }

  th, td {
      border: 1px solid white;
      padding: 8px;
      text-align: left;
  }

  @media screen and (max-width: 600px) {
    nav {
        width: 10vw;
    }

    nav ul {
        font-size: small;
    }

    main {
        width: 60vw;
    }
}
